*.orig
/**/index/
!**/index/*.java
/*/data
tmp/
.idea/
target/
.settings/
.classpath
.project
*.iml
*.versionsBackup
*.log
*.log.zip
packages/
dependency-reduced-pom.xml
!**/bin/prunsrv.exe
!**/bin/ConfigMerge.exe
.vscode
.java-version
.DS_Store
*key*.json
.terraform
ansible_vault_password
